<div>
    <app-navbar></app-navbar>
</div>
<!DOCTYPE html>

<section class="showcasez">
    <img src ="../../assets/images/watercolor-abstract-purple-background_23-2149120778.png">
</section>

<html>
    <head>
        <title>Car Rental</title>
    </head>
    <body>
        <header>
            <h1>Frequently Asked Questions</h1>
            <p>
                <b>
                    1. Who are you ?
                </b>
                We are a car rental company.
                We have over twenty one years of experience in the industry, which guarantees the high quality of our services.
                We operate in Poland, Germany and Slovakia.
            </p>
            <p>
                <b>
                    2. Where can we find your Car Rental ?
                </b>
                We are waiting for you in 3 places : Warszawa Jana Pawła II 24 08-300, Berlin Munichyn 23 23-2400, Bratislava Obojnika 22 11-10.
            </p>
            <p>
                <b>
                    3. How can we contact you ?
                </b>
                Just click "Contact Us" on navigation bar, check the city and make a call.
            </p>
            <p>
                <b>
                    4. Is there any possibility to edit my reservation ?
                </b>
                Sure, just make sure the reservations does not start today and get to your reservation history.
            </p>
            <p>
                <b>
                    5. Is there any possibility to cancel my reservation ?
                </b>
                Yes, as above, make sure your reservations does start at least tomorrow and cancel it from your reservation history page.
            </p>
        </header>
            <main>
                <div class="container">

                </div>
            </main>
    </body>
</html>
